<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>App</title>

  <link rel="stylesheet" href="/stylesheets/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/stylesheets/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
  <section class="content-header">
    <form>
      <div style="padding-left:75%;">
      <button type="button" class="btn btn-primary" name="register"><a href="/admin/forgot"
          style="color: azure;">Back</a></button> &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp;


          <button type="button" class="btn btn-primary" name="register"><a href="/admin"
            style="color: azure;">Login</a></button>
        </div>
    </form>

  </section>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="position: relative; padding-left: 35%;" >
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Reset Password Here</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post" action="/admin/changepass">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputID">Enter New password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="enter new password">
                    </div>
                <div class="form-group">
                    <label for="exampleInputID">Confirm new password</label>
                    <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="enter confirm password">
                 </div>
                 <div class="form-group">
                    <button type="submit" class="form-control" id="submit" >submit</button>
                 </div>
            </div>
              </form>
        </div>
            </div>
            <!-- /.card -->

            <!-- general form elements -->
            
                  <div class="form-group">
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include("../partials/footer.ejs") %>

</body>
</html>
